# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# Gradle
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test
**/test/

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore
compose.yml
docker-compose*.yml

# Environment
.env
.env.*
